@import "../../theme/color.less";

.overlay {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: @whiteTranslucent40;
  z-index: 1000000;
}

.dark {
  background-color: @blackTranslucent40;
}

.fixed {
  position: fixed;
}
